extends layout

block content
    section
        h1 About this project:
        p.
            I wanted to get better at my MapBox.js / Leaflet.js skills, 
            and decided to use the data provided by the City of Toronto 
            so it's hopefully going to be interesting as much as it's educational.

